@media screen and (max-width: 768px) {

    html {
        font-size: 100%;
    }

    h1 {
        font-size: 1.3rem;
    }

    h2 {
        font-size: 1.1rem;
    }

    p {
        font-size: 0.8rem;
    }

    img {
        max-width: 100%;
        height: auto;
    }

    .right {
        display: none;
    }

    nav.nav_top {
        height: 80px;
    }

    ul.nav {       
        position: absolute; 
        flex-direction: column;       
        align-items: center;                     
    }

    div.footer {
        height: 80px;
    }

    #form{    
        display: flex;        
        justify-content: center;
        flex-direction:column;
        align-items: center;
        margin: 10px 30px 20px 0px;
        padding: 30px 50px 20px 20px;
        width: 90%;
        line-height: 0.5cm;
    }

}

/* @media scree and (max-width: 768px){
    .table thead {
        display: none;
    }

    .table tr{
        display: block;
        margin-bottom: 40px;
    }

    .table td {
        display: block;
        text-align: right;
    }

    .table td:before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
    }
} */