/* ---Général--- */

html {
    margin: 0 auto;
}

body {
    font-family: arial, helvetica, sans-serif;
    font-size: 15px;
}

li {
    list-style: none;
}

.clearfix{
    clear: both;
}

/* ---Header--- */

.logo {
    display: flex;
}

.legend {
    margin: auto;
    font-size: 24px;
    font-weight: bold;
}

.logojardi {
    width: 200px;
}

/* ---Navigation--- */

.nav_top {
    background-color: #000000;
    height: 50px;
    margin: 0;   
}

ul.nav {
    display: flex;    
    position: absolute;
    padding: 0;    
    width: 100%;           
}

a.anav {
    color: #FFFFFF;    
    font-size: 14px;    
    margin: auto 10px;        
}

/* ---Bandeau--- */

.landing{
    width: 100%;
    margin: 0;
}

/* ---Pied de page--- */

.footer {
    background-color: #000000;
    height: 50px;
    display: flex;
    margin: 15px 0 0 0;
}

a.bottom {
    color: #FFFFFF;    
    font-size: 14px;
    margin: auto 10px;    
}

/* --------------------Page Index-------------------- */

section {
    display: flex;
}

aside.right {
    background: #C0C0C0;
    font-size: 20px;
    padding-left: 2%;
}

.left {
    width: 70%;
}

.right {
    width: 30%;
}

.submit {
    line-height: 30px;
    text-align: center;
}

/* --------------------Page Tableau-------------------- */

table {
    background: #34495E;
    color: #fff;
    border-radius: .4em;
    overflow: hidden;
}

th, td {
    margin: .5em 1em;    
    text-align: center;
    @media (min-width: $breakpoint-alpha) { 
    padding: 1em !important; 
    }
}

th, td:before {
    color: #dd5;
}



/* --------------------Page Contact-------------------- */

fieldset {
    padding:0 20px 20px 20px;
    margin-bottom:10px;
    border:1px solid #395697;
}

form {
    background-color:#FAFAFA;
    padding:10px;
    width:280px;
}

legend {
    color: black;
    font-weight:bold
}

label {
    margin-top:10px;
    display:block;
}

input, textarea, select, option {
    background-color:#E0FFFF;
}

input, textarea, select {
    padding:3px;
    border:1px solid #00BFFF;
    border-radius:5px;
    width:200px;
    box-shadow:1px 1px 2px #C0C0C0 inset;
}

select {
    margin-top:10px;
}

input[type=radio] {
    background-color:transparent;
    border:none;
    width:20px;
}

input[type=submit], input[type=reset] {
    width:100px;
    margin-left:5px;
    box-shadow:1px 1px 1px #0768d7;
    cursor:pointer;
}








